Hi, {{ firstName }}!

Reset your password with the below command:

<pre>
curl -vvv --request POST 'localhost:3000/auth/reset-password' \
     --header 'Content-Type: application/json' \
     --data '{ "email": "{{ email }}", "password": "new-password", "token": "{{ token }}" }'
</pre>